@media screen and (max-width: 768px) and (min-width: 412px) {
  .hero-image {
    height: 40vh;
    width: 50vw;
  }
  .hero-slogan-container {
    margin-bottom: 6rem;
  }
  .hero-slogan {
    font-size: 5rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 412px) {
  .hero-image {
    height: 40vh;
    width: 68vw;
    left: 50%;
    top: 40%;
  }
  @keyframes moving {
    50% {
      top: 43%;
    }
    100% {
      top: 40%;
    }
  }
  .hero-slogan-container {
    margin-bottom: 6rem;
  }
  .hero-slogan {
    font-size: 3rem;
    margin-left: 0;
    width: 100%;
  }
  .hero-link {
    align-items: flex-start;
    width: 20rem;
  }
}
