@media screen and (max-width: 768px) and (min-width: 412px) {
  .footwear-product-container {
    height: 90%;
    width: 90%;
  }
}
@media screen and (max-width: 412px) {
  .footwear-product-image-container {
    height: 100%;
    width: 100%;
  }
  .footwear-product-image {
    height: 100%;
    width:  100%;
  }
  .footwear-product-name {
    font-size: 1.5rem;
  }
  .footwear-product-type {
    font-size: 1.3rem;
  }
}
