@media screen and (max-width: 412px) {
  .product-form-container {
    background-color: var(--background-white);
    transform: translate(-50%, 0);
    flex-direction: column;
    padding-top: 10rem;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 11;
    left: 50%;
  }
  .product-rate {
    width: 30%;
  }
  .product-form-title {
    margin-bottom: 10rem;
    height: 10rem;
  }

  .product-description {
    height: 20vh;
  }
}
