:root {
  /* Background colors */
  --background-secondary: rgb(40, 39, 37);
  --background-main: rgb(227, 226, 221);
  --background-white: rgb(255, 255, 255);
  /* Fonts */
  --trekCare-font-family: "Inconsolata", sans-serif;
}
