@media screen and (max-width: 768px) and (min-width: 412px) {
  .about-shoes-title {
    font-size: 2vh;
  }
  .about-shoes-text {
    font-size: 1.5vh;
  }
}

@media screen and (max-width: 412px) {
  .about-shoes-section {
    flex-direction: column;
    height: 100%;
  }
  .about-shoes-content {
    width: 100%;
  }
  .about-shoes-image {
    height: 100%;
    width: 100%;
    margin: 1rem 0;
  }
}
