@media screen and (max-width: 768px) and (min-width: 412px) {
  .admin-panel-container {
    height: 70vw;
    width: 75vw;
  }
  .shoe-tab-name,
  .shoe-tab-type-container,
  .shoe-tab-color-container.shoe-tab-rate-container {
    width: 10vw;
  }

  .shoe-tab-image {
    display: none;
  }
  .admin-shoe-tab {
    height: 14rem;
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
  }
  .shoe-tab-description {
    padding: 0;
  }
}

@media screen and (max-width: 412px) {
  .admin-section {
    height: 100%;
  }
  .admin-panel-container {
    height: 100%;
    width: 80%;
  }
  .admin-shoe-tab {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .shoe-tab-image-container,
  .shoe-tab-name,
  .shoe-tab-type-container,
  .shoe-tab-color-container,
  .shoe-tab-rate-container,
  .shoe-tab-description-container,
  .shoe-tab-description {
    width: 100%;
    text-align: center;
  }
  .shoe-tab-description {
    padding: 1rem;
  }
  .shoe-tab-buttons {
    flex-direction: row;
    width: 50%;
  }
  .shoe-tab-button {
    margin-bottom: 1rem;
  }
}
